body {
   font-family:'Arial', sans-serif;
   font-size:13px;
   margin:0px;
   padding:0px;
   color:#222;
   background-color:#f9f9f9;
}

a,a:visited {
   color:#229;
   text-decoration:none;
   font-weight:bold;
   text-shadow:0px -1px 0px #ccc;
}
a:hover {
   color:#007;
   text-shadow:0px -1px 0px #999;
}

#header {
   margin:0px;
   background-color:#ddd;
   border-bottom: 1px solid #d0d0d0;
}
#header-content {
   margin:0px auto;
   width:960px;
}
#header-content h1 {
   text-shadow:0px 1px 0px #fff;
   margin:0px;
   padding:10px 0px;
}
#header-content h1 a {
   color:#222;
}


#footer {
   text-align:center;
   color:#ccc;
   text-shadow:0px 1px 0px #fff;
}

#content {
   width:960px;
   margin:0px auto;
}

#admin-tag {
   margin-top:16px;
   float:right;
   font-size:16px;
   font-weight:bold;
   color:#d43;
}

table {
   border-collapse:collapse;
   width:100%;
}
th {
   text-align:left;
   padding:0px 10px;
}
td {
   border:1px solid #ddd;
   margin:0px;
   padding:5px 10px;
}

.empty-results {
   color:#643;
   text-align:center;
   font-size:20px;
}

#content h1 {
   margin-top:30px;
   border-bottom:1px solid #ccc;
}

#actionbar {
   border-top:1px solid #777;
   background-color:#bbb;
   border-bottom:1px solid #888;
}

#actions {
   width:960px;
   margin:0px auto;
   padding:0px;
}

#actions li {
   list-style:none;
   display:inline-block;
   margin:10px 10px 10px 0px;
}

#actions li a {

}