<h1><%=@user.username%></h1>
<ul>
	<% @user.entries.each {|e| %>
		<li><%=e.et%> @ <%=e.trap%> &mdash; Submitted <%=time_ago_in_words(e.created_at)%> ago.
			<% unless e.approver_id then %>
				<strong>Pending approval.</strong>
			<% end %>
			</li>
	<% } %>
</ul>
		